// responsive mixin

@mixin x-small{
    @media(min-width: 350px){
        @content;
    }
}
@mixin small{
    @media(max-width: 576px){
        @content;
    }
}
@mixin medium {
    @media(min-width:800px ){
        @content;
    }
}
@mixin large{
    @media(min-width:1000px){
        @content;
    }
}
@mixin x-large{
    @media(min-width: 1200px){
        @content;
    }
}
@mixin xx-large{
    @media(min-width:1400px){
        @content;
    }
}

