.bannar-bottom{
    background:#FFFFFF;

    .single-bannar-bottom{
        .single-bannar-bottom-list{
            li{
                @include small{
                    text-align: center;
                    margin-top: 8px;
                    padding: 0px 10px;
                    font-size: 10px;
                }
                @include medium{
                    text-align: center;
                    padding: 0 10px;
                    margin: 0 0;
                }
                font-weight: 600;
                color: #161880;
                    border-left: 1px solid #333;
                    border-right: 1px solid #333;
                    padding: 5px 10px;
                    
                    
                
                i{
                    @include small{
                        font-size: 25px;
                        padding: 10px 5px;
                        display: block;
                    }
                    @include medium{
                        display: block;
                    }
                    font-size: 25px;
                    padding: 10px 5px;
                }
            }
        }
        
    }
}