.footer-top{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-bottom: 1px solid #333;
    .footer-categories{
        h4 {
            font-size: 15px;
            font-weight: 600;
            padding-bottom: 5px;
        }
        ul{
            li{
                padding: 7px 0;
                a{
                    transition: .5s;
                    &:hover{
                        color: #2A6DD8;
                        border-bottom: 1px solid #2A6DD8;
                    }
                    .active{
                        border-bottom: 1px solid #2A6DD8;
                    }
                }
            }
        }
    }
}