.service{
    background-color:#F5F5F5;
    .single-service{
        background: #fff;
        padding: 50px 5px;
        padding-top: 80px;
        border-radius: 5px;
        height: 260px;
        i{
            font-size: 50px;
            color: #821CD9;
        }
        h5{
            padding: 10px 0;
        }
    }
}